{% extends 'base.html' %}
{% block content %}
  <main id="main">
    <section>
      <div class="container">
        <div class="row">

          <div class="col-md-9" data-aos="fade-up">
            <h3 class="category-title">
              Category:
              {% for category in categories %}
              {% if category.slug in request.get_full_path %} {{category.name}} {% endif %}
              {% endfor %}
            </h3>
            {% for post in posts %}
            <div class="d-md-flex post-entry-2 half">
              <a href="{% url 'single_post' post.slug %}" class="me-4 thumbnail">
                <img src="{{post.post_img}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="mx-1">&bullet;</span> <span>{{post.published_at|date:'SHORT_DATE_FORMAT'}}</span></div>
                <h3><a href="{% url 'single_post' post.slug %}">{{post.title}}</a></h3>
                <p>{{post.summary}}</p>
                <div class="d-flex align-items-center author">
                  <div class="name">
                    <h3 class="m-0 p-0">{{post.author}}</h3>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
            <!-- ======= Sidebar ======= -->
            {% include 'parts/sidebar.html' %}

        </div>
      </div>
    </section>
  </main><!-- End #main -->
  {% endblock %}
