{% extends 'base.html' %}
{% block content %}
<main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                {{data}}
                {% for post in data %}

                <div class="swiper-slide">
                  <a href="{% url 'single_post' post.slug %}" class="img-bg d-flex align-items-end" style="background-image: url({{post.post_img}});">
                    <div class="img-bg-inner">
                      <h2>{{post.title}}</h2>
                      <p>{{post.summary}}</p>
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->


    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                {% for post in data %}
                <div class="post-entry-1">
                  <a href="{% url 'single_post' post.slug %}"><img src="{{post.post_img}}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{post.published_at|date:'SHORT_DATE_FORMAT'}}</span> <span class="mx-1">&bullet;</span> <span>{{post.title}}</span></div>
                  <h2><a href="{% url 'single_post' post.slug %}">{{post.title}}</a></h2>
                  <div class="">
                    <h6 class="m-0 p-0">{{post.author}}</h6>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- End Post Grid Section -->

  </main><!-- End #main -->
{% endblock %}
