{% extends 'base.html' %}
{% block content %}
{% block title %}{{post.meta_title}}{% endblock %}
<main id="main">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="single-post">
              <div class="post-meta"><span class="date">{{post.category}}</span> <span class="mx-1">&bullet;</span> <span>{{post.published_at|date:'SHORT_DATE_FORMAT'}}</span></div>
              <h1 class="mb-5">{{post.title}}</h1>
              <p>{{post.summary}}</p>

              <figure class="my-4">
                <img src="{{post.post_img}}" alt="" class="img-fluid">
                <figcaption>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, odit? </figcaption>
              </figure>
              {{post.content|safe}}
            </div><!-- End Single Post Content -->

            <!-- ======= Comments ======= -->
            <div class="comments">
              <h5 class="comment-title py-4">{{post.comments_number}} Comments</h5>
              {% for comment in comments %}
              <div class="comment d-flex mb-4">
                <div class="flex-grow-1 ms-2 ms-sm-3">
                  <div class="comment-meta d-flex align-items-baseline">
                    <h6 class="me-2">{{comment.name}}</h6>
                    <span class="text-muted">{{comment.created_at}}</span>
                  </div>
                  <div class="comment-body">
                    {{comment.comment}}
                  </div>

                  <div class="comment-replies bg-light p-3 mt-3 rounded">
                    <h6 class="comment-replies-title mb-4 text-muted text-uppercase">replies</h6>
                    {% for replay in comment.children.all %}
                    <div class="reply d-flex mb-4">
                      <div class="flex-grow-1 ms-2 ms-sm-3">
                        <div class="reply-meta d-flex align-items-baseline">
                          <h6 class="mb-0 me-2">Brandon Smith</h6>
                          <span class="text-muted">{{replay.created_at}}</span>
                        </div>
                        <div class="reply-body">
                          {{replay.comment}}
                        </div>
                      </div>
                    </div>
                    {% endfor %}

                  </div>
                </div>
              </div>
              {% endfor %}
            </div><!-- End Comments -->

            <!-- ======= Comments Form ======= -->
            <div class="row justify-content-center mt-5">
              <div class="col-lg-12">
                <h5 class="comment-title">Leave a Comment</h5>
                <form  method="post">
                  {% csrf_token %}
                    <div class="row">
                      <div class="col-lg-6 mb-3">
                        <label for="comment-name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter your name">
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label for="comment-email">Email</label>
                        <input type="text" class="form-control" name="email" placeholder="Enter your email">
                      </div>
                      <div class="col-12 mb-3">
                        <label for="comment-message">comment</label>

                        <textarea class="form-control" name="comment" placeholder="Enter your name" cols="30" rows="10"></textarea>
                      </div>
                      <div class="col-12">
                        <input type="submit" class="btn btn-primary" value="Post comment">
                      </div>
                    </div>
                </form>
              </div>
            </div><!-- End Comments Form -->

          </div>
            <!-- ======= Sidebar ======= -->
            {% include 'parts/sidebar.html' %}

        </div>
      </div>
    </section>
</main><!-- End #main -->
{% endblock %}
